.customers_container {
	margin: 5rem 15px;
}
.customers_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 5px;
	width: 100%;
}
.customers_header h4 {
	font-size: 30px;
}
