.product_container {
	margin-top: 50px;
	min-height: 100vh;
	padding: 15px;
	border-radius: 5px;
	overflow-y: auto;
	transition: 450ms;
}
.card_content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 15px;
	margin: 20px 0;
	white-space: nowrap;
}
.card_detail {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 15px 25px;
	border-radius: 7px;
	background: #ffffff;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
		0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}
.card_inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.card_title {
	text-align: center;
	margin-top: -5px;
	padding-top: 10px;
	margin-bottom: 0.5rem;
}

.products {
	margin-top: 1rem;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: space-around;
}
.productCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0.5rem;
	height: 350px;
	width: 280px;
	border-radius: 7px;
	background: #ffffff;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
		0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}
.productName {
	display: flex;
	width: 200px;
	justify-content: center;
	color: #141432;
	margin-top: 0.5rem;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.productImageCard {
	width: 200px;
}
.productImage {
	aspect-ratio: 1 / 1;
	object-fit: contain;
	width: 100%;
}

.tableResponsive {
	overflow-x: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	padding: 10px;
	margin: 10px;
	/* white-space: nowrap; */
}

th {
	max-width: 300px;
	min-width: 125px;
	padding: 10px !important;
	overflow-x: scroll;
	white-space: nowrap;
	text-align: center !important;
}

.descriptionTh {
	display: inline-block !important;
	max-width: 500px;
	min-width: 500px;
	min-height: 150px;
	overflow-x: scroll;
	vertical-align: middle;
}

tr {
	height: 40px !important;
}

td {
	height: 40px !important;
	padding: 5px !important;
	text-align: center !important;
}

.tablePhoto {
	aspect-ratio: 1 / 1;
	object-fit: contain;
	width: 100%;
}

.searchInput {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	width: 400px;
	border-radius: 7px;
	background-color: #fff;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
		0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}

.imageCard {
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding-top: 0.5rem;
	height: 220px;
	width: 280px;
	border-radius: 7px;
	background: #ffffff;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
		0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}
.imageCardUpdate {
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding-top: 0.5rem;
	width: 400px;
	border-radius: 7px;
	background: #ffffff;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
		0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}
.productImageUpdate {
	object-fit: contain;
	width: 100%;
}
.productImageCardUpdate {
	width: 350px;
	height: auto;
}
